@model CapstoneProject.ViewModels.CreateClientNameViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CreateClientNameViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.AvailableDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.AvailableDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.dLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.dLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.dLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.dLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Client.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
