@model CapstoneProject.ViewModels.CreateClientNameViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    <dt>
        @Html.DisplayNameFor(model => model.Client.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.LastName)
    </dd>

    @*<dt>
            @Html.DisplayNameFor(model => model.Client.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Address)
        </dd>*@

    <dt>
        @Html.DisplayNameFor(model => model.Client.HouseNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.HouseNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.StreetName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.StreetName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.Town)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.Town)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.PostalCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.PostalCode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.AvailableFrom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.AvailableFrom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.AvailableUntil)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Client.AvailableUntil)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Client.ClientGroup)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GroupName)
    </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
